tr {
    border: 1px solid black;
    border-collapse: collapse;
    display: none;
}

table, th {
    border: 1px solid black;
    border-collapse: collapse;   
}
tr.ShipType {
    display: table-row;
    cursor: pointer;
    float: left;
}
tr.ShipName {
    float: right;
}

.highlight { background-color: blue; }