<!DOCTYPE html>
<html lan="en">
  <head>
    <meta charset="utf-8">
    <!--[if IE]>
	<meta http-equiv="X-UA-Compatible" content="IE=10">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Harlan Adoudel">
    
    <title>Hauler Packing Tool</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="/static/info.css"/>
    <div class="container">
      <div class="row">
	<div class="col-md-8">
	  <h3>Select a fitting:</h3>
	  <table border="0">
	    {% for name, fit_list in fittings.iteritems() %}
	    <tr class="ShipType">
	      <th style="text-align: left">{{ name }} <span>+</span></th>
	    </tr>
	    {% for fitting in fit_list %}
	    <tr class="ShipName" style="display:none" data-fit="{{ fitting[1] }}">
	      <td style="text-align: left">{{ fitting[0] }}</td>
	    </tr>
	    {% endfor %}
	    {% endfor %}
	  </table>
	</div>
	<div class="col-md-4">
	  <form id="fit_form" action="gen_fit">
	    Evepraisal URL:<br>
	    <input type="text" name="evep_url" required>
	    <br>
	    Cargo Hold Size (not yet automatically calculated):<br>
	    <input type="text" name="cargo_size" required>
	    <br><br>
	    <input type="submit" value="Submit">
	  </form>
	  <div id="error_text" style="color: red"></div>
	  <div id="success_text" style="color: blue"></div>
	</div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='info.js') }}"></script>
  </body>
</html>
