<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!--[if IE]>
	<meta http-equiv="X-UA-Compatible" content="IE=10">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Harlan Adoudel">
    
    <title>Hauler Packing Tool</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.7.1.min.js"></script>
  </head>
  <body>
    <link rel="stylesheet" type="text/css" href="/static/info.css"/>
    <h3>Select a fitting:</h3>
    <table border="0">
      {% for name, fit_list in fittings.iteritems() %}
      <tr class="ShipType">
	<th style="text-align: left">{{ name }} <span>+</span></th>
      </tr>
      {% for fitting in fit_list %}
      <tr class="ShipName" style="display:none" data-fit="{{ fitting[1] }}">
	<td style="text-align: left">{{ fitting[0] }}</td>
      </tr>
      {% endfor %}
      {% endfor %}
    </table>
    <form id="fit_form" action="gen_fit">
      Evepraisal URL:<br>
      <input type="text" name="evep_url" required>
      <br>
      Cargo Hold Size (not yet automatically calculated):<br>
      <input type="text" name="cargo_size" required>
      <br><br>
      <input type="submit" value="Submit">
    </form>
    <div id="error_text" style="color: red"></div>
    <div id="success_text" style="color: blue"></div>
    <script src="{{ url_for('static', filename='info.js') }}"></script>
  </body>
</html>
